*{margin: 0;padding: 0;box-sizing: border-box;}
/* abeezee-regular - latin */
@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/abeezee-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/abeezee-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* abeezee-italic - latin */
  @font-face {
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/abeezee-v22-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/abeezee-v22-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  :root{
    --button_color:#F9B640;
    --header_bground:#F4F9E2;
    --main_first:#62D0DF;
    --main_second:#FFFFFF;
    --main_three-l:#22356F;
    --main_three-m:#0052C1;
    --main_three-r:#76B58B;

  }

  html,body{
    width: 100%;
    height: 3360px;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
  }
  .header{
    width: 100%;
    height: 840px;
    background-color: var(--header_bground)
  }
  .header__wrapper{
    width: 100%;
    height: 100%;
     
  }
  .upper-header__wrapper{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -1em;
  }
  .logo{
    width: 120px;
  }
  .menu__nav{
    display: flex;
    width: 22%;
    align-items: center;
    justify-content: center;
    height: 35px;
  }
  .menu__nav-ul{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    
  }
  li{
    list-style: none;
    text-align: center;
  }

   
  a{
    
    text-decoration: none;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
  /* hr{
    width: 38px;
    height: 1px;
    color: #22356F;
    margin-top: .5em;
  } */
  .li_1{
  
    border-bottom: solid 1px var(--main_three-l);
    border-width: thin;
    width: 61px;
  }
  .button{
    width: 150px;
    height: 50px;
    background:var(--button_color);
    box-sizing: border-box;
    border-radius: 2em;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
  }
  
  .btn{
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: var(--main_second);
    background: none;
    border: none;
}
.bottom-header__wrapper{
  width: 100%;
  height: 533px;
  display: flex;
  justify-content: space-around;
}
.bottom-header__left{
  width: 45%;
  margin-left: 6em;
  margin-top: 3em;
  margin-right: -2em;
}
h1{
  font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.035em;
    color: #22356F;
    margin-bottom: 1.5em;
}
 .header__text{
    
    color: #22356F;
    line-height: 43px;
    width: 80%
 }
  p{
    font-size: 24px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
  }

 

  
  .main{
    width: 100%;
    height: 2520px;
  }
  .main__wrapper{
    width: 100%;
    height: 100%;
  }

  .first__container{
    width: 100%;
    height: 607px;
    display: flex;
  }
  .first__containe-left{
    
    height: 100%;
    background-color: var(--main_first);
  }
  .first__h2{
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: 0.006em;
    color: var(--main_second);
    margin-top: 4em;
    margin-left: 4.6em;
    margin-bottom: 1em;
  }
  .first__main-text{
    line-height: 35px;
    color: var(--main_second);
    
    width: 65%;
    margin-left: 6.2em;
  }
  .first__container-right{
    
    height: 100%;
    
    
  }
  .first__block-pic{
    width: 520px;
    height: 604px;
  }
  .second__container{
    width: 100%;
    height: 633px;
    background-color: var(--main_second);
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .text__cont{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
   }
   .upper__text{
     font-size: 24px;
     line-height: 34px;
     letter-spacing: 0.005em;
     color: var(--main_three-l);
     width: 47%;
     margin-bottom: 2em;
    }
    .lower__text{
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.005em;
      color: var(--main_three-l);
      width: 47%;
      
    }
  .third__container{
    width: 100%;
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .third__left{
    background-color: var(--main_three-l);
  }
  .third__middle{
    background-color:var(--main_three-m);
  }
  .third__right{
    background-color: var(--main_three-r);
  }
  .third__container-h2{
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 0.006em;
    color: var(--main_second);
    margin-left: 0;
    margin-top: 1em;
    width: 33%;
  }
  .separate_set{
    width: 40%;
  }
  .section__third-cont{
    width: 60%;
    margin-top: 6em;
    border-top: solid 1.5px var(--main_second);
    margin-left: 20%;
    margin-right: 20%;
  }
  .fourth__container{
    width: 100%;
    height: 800px;
    display: flex;
  }
  .fourth__left{
    
    height: 100%;
  }
  .fourth__right{
    
    height: 100%;
  }
  
  
  .bottom_head{
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: 0.006em;
    color: #22356F;
    margin-top: 7em;
    margin-left: 2em;
    margin-bottom: 2em;
  }
  .bottom_text{
    width: 73%;
    margin-left: 2em;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.01em;
    color: var(--main_three-l);
  }
  .hamburger__menu{
    display: none;
  }
  .hamburger__menu-items{
    
    display: flex;
    visibility: hidden;
    position: fixed;
    justify-content: center;
    left: 0px;
    padding: 50px 0;
    top: 87px;
    right: 0px;
    align-items: center;
    background-color:lightskyblue;
    opacity: 0.6;
    width: 100%;
    height: 100px;
    color: var(--main_second);

}

#menu__toggle{
    opacity: 0;
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after{
    display: block;
    position: absolute;
    width: 52px;
    height: 5px;
    background-color:var(--button_color);
    transition-duration: .25s;
}

.menu__button > span::after{
    content: '';
    top: 14px;
}


.menu__button > span::before{
    content: '';
    top: -14px;
}







.menu__button{
    visibility: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    top: 61px;
    right: 120px;
    width: 30px;
    height: 30px;
    z-index: 1;
    
}


#menu__toggle:checked ~ .hamburger__menu-items{
    visibility: visible;
}

#menu__toggle:checked ~.menu__button > span{
    transform: rotate(45deg);

}
#menu__toggle:checked ~.menu__button > span::after{
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~.menu__button > span::before{

    top: 0;
    

}

.hamburger__menu-list{
    display: block;
    padding: 30px 30px;
    color:gray;
    font-size: 18px;
    
}


@media only screen and (max-width: 1100px) and (min-width:800px){
  html,body{
    width: 110%;
    
  }
  .header{
    width: 100%;
    height: 1400px;
  }

  .menu__nav-ul{
    display: none;
  }
  .button{
    display: none;
  }
  
  .hamburger__menu{
    display:block;
  }
  .menu__button{
    visibility:visible;
  }
  .upper-header__wrapper{
    width: 100%;
    
  }
  .bottom-header__wrapper{
    height: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
   
  }
  .bottom-header__left{
    width: 100%;
    text-align: center;
    margin-top: 7em;
  }
  h1{
    text-align: center;
    margin-right: 2.5em;
  }
  .header__text{
    margin-left: .5em;
    margin-top: 6em;
  }
  
  .dino__pic{
    margin-left: 15em;
  }
  .main{
    width: 100%;
    height: auto;
  }
  .main__wrapper{
    width: 100%;
    height: 100%;
  }
  .first__container{
    width: 100%;
    height: 1200px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .first__block-pic{
    width: 100%;
  }
  .first__container-right{
    background-color: var(--main_first);
  }
  .first__h2{
    margin-left: 11em;
  }
  .first__main-text{
    margin-left: 9em;
  }
  .third__container{
    height: 1000px;
    grid-template-columns: 1fr;
  }
  .fourth__container{
    height: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--header_bground);
    flex-flow: column-reverse;

   }

   .fourth__left-img{
    margin-bottom: 1em;
   }

   .bottom_head{
    margin-left: 11em;
    margin-bottom:3em;
   }
   .bottom_text{
    
    margin-left: 5em;
    width: 75%;
   }
   #menu__toggle:checked ~ .hamburger__menu-items {
    width:70%;
    margin-left:11em;
     margin-top: 4em;
    }
    .menu__button{
      top: 78px;
       right: -120px;
    }
    #menu__toggle:checked ~ .hamburger__menu-items {
      visibility: visible;
      width: 70%;
      margin-left: 7em;
      margin-top: 4em;
  }
  .menu__button {
    top: 90px;
    right: 67px;
}




  }

  @media only screen and (max-width: 800px) and (min-width:600px){
    html,body{
      width: 109%;


    }
    .header{
      width: 100%;
      height: 1400px;
    }
  
    .menu__nav-ul{
      display: none;
    }
    .button{
      display: none;
    }
    
    .hamburger__menu{
      display:block;
    }
    .menu__button{
      visibility:visible;
    }
    .upper-header__wrapper{
      width: 100%;
      
    }
    .bottom-header__wrapper{
      height: 1200px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
     
    }
    .bottom-header__left{
      width: 100%;
      text-align: center;
      margin-top: 7em;
    }
    h1{
      text-align: center;
      margin-right: 2.5em;
    }
    .header__text{
      margin-left: -.5em;
      margin-top: 3em;
    }
    
    .dino__pic{
      margin-left: 9em;
    }
    .main{
      width: 100%;
      height: auto;
    }
    .main__wrapper{
      width: 100%;
      height: 100%;
    }
    .first__container{
      width: 100%;
      height: 1200px;
      display: grid;
      grid-template-columns: 1fr;
    }
    .first__block-pic{
      width: 100%;
    }
    .first__container-right{
      background-color: var(--main_first);
    }
    .first__h2{
      margin-left: 7em;
    }
    .first__main-text{
      margin-left: 6em;
    }
    .third__container{
      height: 1000px;
      grid-template-columns: 1fr;
    }
    .fourth__container{
      height: 1600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color:var(--header_bground);
      flex-flow: column-reverse;
  
     }
  
     .fourth__left-img{
      margin-bottom: 1em;
     }
  
     .bottom_head{
      margin-left: 7em;
      margin-bottom:3em;
     }
     .bottom_text{
      
      margin-left: 3em;
      width: 75%;
     }

     #menu__toggle:checked ~ .hamburger__menu-items {
      width:70%;
      margin-left:6em;
       margin-top: 4em;
      }
      .menu__button{
        top: 84px;
         right: 22px;
      }
      .dino__pic {
        margin-left: 5em;
    }
    h1 {
      text-align: center;
      margin-right: 2.5em;
  }
  

  }


  @media only screen and (max-width: 600px) and (min-width:400px){
    html,body{
      width: 109%;


    }
    .header{
      width: 100%;
      height: 1400px;
    }
  
    .menu__nav-ul{
      display: none;
    }
    .button{
      display: none;
    }
    
    .hamburger__menu{
      display:block;
    }
    .menu__button{
      visibility:visible;
    }
    .upper-header__wrapper{
      width: 100%;
      
    }
    .bottom-header__wrapper{
      height: 1200px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
     
    }
    .bottom-header__left{
      width: 100%;
      text-align: center;
      margin-top: 7em;
    }
    h1{
      text-align: center;
      margin-right: 2.5em;
    }
    .header__text{
      margin-left: -1.5em;
      margin-top: 6em;
    }
    
    .dino__pic{
      margin-left: 15em;
    }
    .main{
      width: 100%;
      height: auto;
    }
    .main__wrapper{
      width: 100%;
      height: 100%;
    }
    .first__container{
      width: 100%;
      height: 1200px;
      display: grid;
      grid-template-columns: 1fr;
    }
    .first__block-pic{
      width: 100%;
    }
    .first__container-right{
      background-color: var(--main_first);
    }
    .first__h2{
      margin-left: 4em;
    }
    .first__main-text{
      margin-left: 5em;
    }
    .third__container{
      height: 1000px;
      grid-template-columns: 1fr;
    }
    .fourth__container{
      height: 1600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color:var(--header_bground);
      flex-flow: column-reverse;
  
     }
  
     .fourth__left-img{
      margin-bottom: 1em;
     }
  
     .bottom_head{
      margin-left: 4em;
      margin-bottom:3em;
     }
     .bottom_text{
      
      margin-left: 3em;
      width: 75%;
     }

     #menu__toggle:checked ~ .hamburger__menu-items {
      width:70%;
      margin-left:2em;
       margin-top: 4em;
      }
      .menu__button{
        top: 84px;
         right: 22px;
      }
      .dino__pic {
        margin-left: 5em;
    }
    h1 {
      text-align: center;
      margin-right: 4.5em;
  }
  
  

  }